body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.header-main {
  background-color: white;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header-container {
  max-width: 1280px;
  margin: 0 auto;
}

.logo-image img {
  width: 80px;
  height: 50px;
  float: left;
  margin-top: 15px;
}

.navigation-menu {
  float: right;
}

.navigation-menu ul {
  list-style: none;
}

.navigation-menu ul li {
  display: inline-block;
  line-height: 50px;
  margin-right: 50px;
}

.navigation-menu ul li a {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.02em;
  transition: color 0.3s ease-out;
}
.navigation-menu ul li a:hover {
  color: #c59613;
}

.hero-section {
  /*filling the section with the desired image*/
  background: url("./images/event.jpg") rgba(0, 0, 0, 0.69);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  background-attachment: fixed;
  height: 550px;
  position: relative;
  margin-top: 80px;
}

.hero-container {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  text-align: center;
  width: 400px;
  height: 250px;
  border-radius: 15px;
  padding: 20px;

  /*centering the container*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  text-align: center;
  background-color: #c59613;
  width: 160px;
  height: 40px;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
}

.btn:hover {
  background-color: #9e7911;
}

.more-section {
  width: 1280px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 0 auto;
}

.more-container {
  margin: 0 auto 40px;
  text-align: center;
  max-width: 750px;
}
.more-container p {
  word-spacing: 3px;
  font-size: 18px;
}

.cards-container {
  margin-top: 200px;
  width: 1280px;
}

.card {
  float: left;
  width: calc(25% - 75px);
  height: auto;
  padding: 15px 15px 25px;
  margin-right: 15px;
  margin-bottom: 40px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0.1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:last-of-type {
  margin-right: 0;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.card p {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}

.last-year-section {
  clear: both;
  overflow: hidden;
  padding: 70px 0;
  background: #efefef;
}

.last-container {
  max-width: 1280px;
  margin: 0 auto;
}

.last-container h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}

.last-container p {
  width: 41%;
  float: left;
  text-align: justify;
  padding-right: 150px;
  margin-top: 70px;
  font-size: 20px;
  word-spacing: 3px;
}

.last-container figure {
  width: 41%;
  float: left;
}

.last-container figure img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

/* Events.html */

.info-box {
  background: #efefef;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px grey;
}

.info-box-time-place {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  justify-content: space-around;
}

.info-box-time-place div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 5px;
}
/*.info-box-time-place div:first-child {
  margin-right: 80px;
}*/
.info-box-time-place p {
  font-size: 20px;
  text-align: center;
}

.info-box-paragraph-container {
  font-size: 20px;
  border-bottom: 2px solid white;
  text-align: center;
}

.info-box a {
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.info-box img {
  width: 35px;
  height: auto;
}

.title {
  margin-top: 100px;
  text-align: center;
}
.event-icon {
  content: url("./images/event-icon.png");
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.info-box-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info-box a {
  margin-bottom: 0;
}

@media screen and (max-width: 575px) {
  .component-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin: 0 10% 0;
  }

  .info-box {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .component-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 10% 0;
  }
}

@media screen and (min-width: 768px) {
  .component-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 10% 0;
  }
}
